@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes top-entry {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes left-entry {
  from {
    transform: translateX(-900px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-466px);
  }
}
:root {
  --primary-color: #000000;
  --secondary-color: #fff;
  --terciary-color: #f92b89;
  --hidden-menu-color: #555555;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
header {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1;
  font-family: 'Poppins', Helvetica;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  padding: 10px 20px;
}
/* MENU-IZQUIERDA */
.menu-left {
  display: none;
}
.menu-left > label img {
  height: 40px;
}
.menu-left > input {
  visibility: hidden;
}
.menu-left > div {
  display: none;
  width: 100vw;
  height: 100%;
  background-color: var(--secondary-color);
  z-index: 50;
  position: absolute;
  top: 86.25px;
  left: -10px;
}
.menu-left-hidden {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  height: 100%;
  padding: 0px 30px;
  list-style: none;
  gap: 15px;
}
.menu-left-hidden > li {
  padding: 10px 0px;
  border-bottom: 2px solid #dbdbdb;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 600;
  font-size: 24px;
  color: var(--hidden-menu-color);
}
.menu-left-hidden a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 600;
  font-size: 24px;
  color: var(--hidden-menu-color);
}
#languages-hidden {
  display: flex;
  gap: 15px;
}
#languages-hidden > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.languages-icon-hidden > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: var(--hidden-menu-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--hidden-menu-color);
  border-radius: 20px;
}
.languages-icon-hidden li:first-child {
  background-color: var(--primary-color);
}
.languages-icon-hidden > li > a {
  text-decoration: none;
  color: var(--hidden-menu-color);
  font-family: 'Poppins', helvetica;
  font-size: 16px;
  font-weight: 400;
  margin: auto;
  text-align: center;
}
.languages-icon-hidden li:first-child > a {
  color: var(--secondary-color);
}
#designer-submenu-hidden {
  display: none;
}
#community-submenu-hidden {
  display: none;
}
#gifts-submenu-hidden {
  display: none;
}
h1 {
  min-width: 200px;
}
h1 > img {
  width: 100%;
}
/* MENU-CENTRAL */
.menu {
  display: flex;
  flex: 1 1;
  align-items: center;
  list-style: none;
  gap: 1.5vw;
}
.menu > li {
  padding: 5px;
}
#outlet-color {
  color: var(--terciary-color);
  font-weight: 700;
}
.menu a {
  text-decoration: none;
  color: var(--primary-color);
}
.menu a:hover {
  text-decoration: underline;
}
.arrow-icon {
  display: flex;
  margin: auto;
}
.arrow-icon img {
  width: 16px;
}
#designer {
  position: relative;
  background-color: #fff;
}
#designer > div {
  visibility: hidden;
  position: absolute;
  bottom: -95px;
  left: -10px;
  width: 160px;
  height: 95px;
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.075);
  z-index: 10;
}
#designer:hover > div {
  visibility: visible;
  animation: top-entry 0.4s ease;
}
#designer > div:hover {
  visibility: visible;
}
#designer-submenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  list-style: none;
  background-color: #fff;
}
#community {
  position: relative;
  background-color: #fff;
}
#community > div {
  visibility: hidden;
  position: absolute;
  bottom: -132px;
  left: -10px;
  width: 160px;
  height: 132px;
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.075);
}
#community:hover > div {
  visibility: visible;
  animation: top-entry 0.4s ease;
}
#community > div:hover {
  visibility: visible;
}
#community-submenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  list-style: none;
  background-color: #fff;
}
#gifts {
  position: relative;
  background-color: #fff;
}
#gifts > div {
  visibility: hidden;
  position: absolute;
  bottom: -70px;
  left: -10px;
  width: 140px;
  height: 70px;
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.075);
}
#gifts:hover > div {
  visibility: visible;
  animation: top-entry 0.4s ease;
}
#gifts > div:hover {
  visibility: visible;
}
#gifts-submenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  list-style: none;
  background-color: #fff;
}
/* MENU-DERECHA */
.menu-right {
  display: flex;
  flex: 1 1;
  list-style: none;
  gap: 12px;
}
.menu-right a {
  text-decoration: none;
}
#search-icon img {
  width: 20px;
}
#lang-icon {
  position: relative;
}
#lang-icon a,
label {
  display: flex;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  gap: 5px;
  cursor: pointer;
}
#lang-icon img {
  width: 21px;
}
#lang-icon > div {
  visibility: hidden;
  position: absolute;
  bottom: -150px;
  right: -10px;
  width: 140px;
  height: 150px;
  border: 1px solid rgba(78, 85, 110, 0.158);
  z-index: 10;
}
#lang-check {
  display: none;
}
#lang-check:checked + div {
  visibility: visible;
}
#menu-lang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  list-style: none;
  background-color: white;
  padding: 5px 0px;
}
.item-lang {
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  display: flex;
}
.item-lang > a {
  width: 100%;
}
.item-lang > a p {
  font-weight: 350;
  font-size: 14px;
  margin: auto 0px;
}
.item-lang > a img {
  width: 20px;
  height: 13px;
  margin: auto 0px;
}
#esp-item:hover {
  background-color: rgba(65, 90, 179, 0.212);
}
#eng-item:hover {
  background-color: rgba(65, 90, 179, 0.212);
}
#fr-item:hover {
  background-color: rgba(65, 90, 179, 0.212);
}
#it-item:hover {
  background-color: rgba(65, 90, 179, 0.212);
}
#ger-item:hover {
  background-color: rgba(65, 90, 179, 0.212);
}
#user-icon img {
  width: 24px;
}
#fav-icon img {
  width: 20px;
}
#cart-icon img {
  width: 24px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.banner {
  width: 100vw;
  height: 70.5vh;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.featured {
  display: flex;
  width: 100vw;
  flex: 1 1;
}
.featured-card {
  position: relative;
  width: calc(100% / 3);
  text-decoration: none;
}
.title-featured-card {
  display: flex;
  justify-content: space-between;
  height: 44px;
  background-color: var(--primary-color);
}
.name-shirt {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 500;
  width: 70%;
  margin: auto;
  margin-left: 10px;
}
.price-featured {
  font-family: 'Popins', helvetica;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
  background-color: var(--terciary-color);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-card > img {
  width: 100%;
  position: relative;
}
.featured-card-button {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  left: 32.5%;
  padding: 8px 6px;
  width: 35%;
  text-align: center;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-family: 'Poppins', helvetica;
  font-size: 16px;
  font-weight: 500;
  transition: transform 1s ease;
  z-index: 50;
}
.featured-card > img:hover {
  opacity: 0.4;
}
.featured-card > img:hover + .featured-card-button {
  visibility: visible;
  transform: translateY(-25vh);
}
.featured-card-button:hover {
  visibility: visible;
  transform: translateY(-25vh);
  background-color: var(--secondary-color);
}
.featured-card-button:hover + .featured-card > img {
  opacity: 0.4;
}
.trust-pilot {
  display: flex;
  width: 100vw;
  justify-content: center;
}
.trust-pilot img {
  width: 40%;
}
.new-designs {
  width: 100vw;
  height: 500px;
  background-color: #f92b89;
}
.slider {
  width: 100vw;
  display: flex;
  align-items: center;
  height: 64px;
  background-color: var(--primary-color);
  gap: 100px;
  /* animation: scroll 2s linear infinite; */
}

.slider p {
  color: var(--secondary-color);
  font-family: 'Barlow Condensed', helvetica;
  font-size: 24px;
  font-weight: 500;
  width: 366px;
  white-space: nowrap;
  animation: scroll 6s linear infinite;
}
.services {
  width: 100vw;
  height: auto;
  background-color: #f3f2f2;
  padding: 0px 20px;
}
.services-list {
  display: flex;
  justify-content: space-around;
  padding: 46px 30px;
  list-style: none;
}
.services-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5);
  margin: 0px 5px;
  padding: 0px 10px;
  gap: 20px;
}
.services-list li > img {
  width: 60px;
  height: 60px;
}
.services-list li > p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', helvetica;
  color: var(--primary-color);
}

/* RESPONSIVE */
@media screen and (max-width: 1150px) {
  .menu {
    display: none;
  }
  #lang-icon {
    display: none;
  }
  .menu-left {
    display: flex;
  }
  #burger-menu:checked + div {
    display: flex;
    animation: left-entry 1s ease;
  }
  h1 {
    margin: auto;
  }
  .featured {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .featured a {
    width: 500px;
  }
  .trust-pilot img {
    width: 60%;
  }
}
