@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@keyframes top-entry {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes top-entry-catalogue {
  from {
    transform: translateY(-7px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes left-entry {
  from {
    transform: translateX(-900px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-466px);
  }
}
:root {
  --primary-color: #000000;
  --secondary-color: #fff;
  --terciary-color: #f92b89;
  --hidden-menu-color: #555555;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
header {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1;
  font-family: 'Poppins', Helvetica;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  padding: 10px 20px;
  position: relative;
}
/* MENU-IZQUIERDA */
.menu-left {
  display: none;
}
.menu-left > label img {
  height: 40px;
}
.menu-left > input {
  visibility: hidden;
}
.menu-left > div {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  position: absolute;
  top: 86.25px;
  left: -10px;
}
.menu-left-hidden {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  height: 100%;
  padding: 0px 30px;
  list-style: none;
  gap: 15px;
  background-color: var(--secondary-color);
}
.menu-left-hidden > li {
  padding: 10px 0px;
  border-bottom: 2px solid #dbdbdb;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 600;
  font-size: 24px;
  color: var(--hidden-menu-color);
}
.menu-left-hidden label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 600;
  font-size: 24px;
  color: var(--hidden-menu-color);
}
#outlet-hidden > a {
  text-decoration: none;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 600;
  font-size: 24px;
}
#shop-hidden > a {
  text-decoration: none;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 600;
  font-size: 24px;
  color: var(--hidden-menu-color);
}
#catalogue-check {
  display: none;
}
#designer-check {
  display: none;
}
#community-check {
  display: none;
}
#gifts-check {
  display: none;
}
#languages-hidden {
  display: flex;
  gap: 15px;
}
#languages-hidden > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.languages-icon-hidden > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: var(--hidden-menu-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--hidden-menu-color);
  border-radius: 20px;
}
.languages-icon-hidden li:first-child {
  background-color: var(--primary-color);
}
.languages-icon-hidden > li > a {
  text-decoration: none;
  color: var(--hidden-menu-color);
  font-family: 'Poppins', helvetica;
  font-size: 16px;
  font-weight: 400;
  margin: auto;
  text-align: center;
}
.languages-icon-hidden li:first-child > a {
  color: var(--secondary-color);
}
.submenu-hidden {
  display: none;
}
.submenu-hidden li {
  list-style: none;
  padding: 5px 0px;
}
#catalogue-submenu-hidden {
  width: 100%;
  height: 320px;
}
#catalogue-submenu-hidden > li:first-child a {
  font-family: 'Barlow Condensed', helvetica;
  font-size: 16px;
  font-weight: 600;
}
.submenu-hidden > li > a {
  text-decoration: none;
  font-size: 14px;
  font-family: 'Poppins', helvetica;
  font-weight: 400;
  color: var(--primary-color);
}
.hidden-check:checked + .submenu-hidden {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* H1 */
h1 {
  min-width: 200px;
}
h1 > img {
  width: 100%;
}
/* MENU-CENTRAL */
.menu {
  display: flex;
  flex: 1 1;
  align-items: center;
  list-style: none;
  gap: 1.5vw;
}
.menu > li {
  padding: 5px;
}
#outlet-color {
  color: var(--terciary-color);
  font-weight: 700;
}
.menu a {
  text-decoration: none;
  color: var(--primary-color);
}
.menu a:hover {
  text-decoration: underline;
}
.arrow-icon {
  display: flex;
  margin: auto;
}
.arrow-icon img {
  width: 16px;
}
#catalogue {
  padding: 20px 0px;
}
#catalogue > div {
  position: absolute;
  bottom: -60vh;
  left: 0px;
  width: 100vw;
  height: 62vh;
  padding-top: 10px;
  background-color: var(--secondary-color);
  visibility: hidden;
}
#catalogue-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  margin-left: 20px;
  background-color: var(--secondary-color);
}
#catalogue-container p {
  font-size: 16px;
  font-family: 'Poppins', helvetica;
  padding: 5px 0px;
  font-weight: 600;
  border-bottom: 1px solid #c5c5c5;
}
#catalogue-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
  list-style: none;
  padding: 10px 0px;
}
#catalogue-list li {
  padding: 9px 0px;
  width: 50%;
}
#catalogue-list a {
  font-size: 14px;
  font-family: 'Poppins', helvetica;
  font-weight: 300;
}
#catalogue:hover > div {
  visibility: visible;
  animation: top-entry-catalogue 0.3s ease-out;
}
#catalogue > div:hover {
  visibility: visible;
}
#designer {
  position: relative;
  background-color: var(--secondary-color);
}
#designer > div {
  visibility: hidden;
  position: absolute;
  bottom: -95px;
  left: -10px;
  width: 160px;
  height: 95px;
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.075);
  z-index: 10;
}
#designer:hover > div {
  visibility: visible;
  animation: top-entry 0.4s ease;
}
#designer > div:hover {
  visibility: visible;
}
#designer-submenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  list-style: none;
  background-color: var(--secondary-color);
}
#community {
  position: relative;
  background-color: var(--secondary-color);
}
#community > div {
  visibility: hidden;
  position: absolute;
  bottom: -132px;
  left: -10px;
  width: 160px;
  height: 132px;
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.075);
}
#community:hover > div {
  visibility: visible;
  animation: top-entry 0.4s ease;
}
#community > div:hover {
  visibility: visible;
}
#community-submenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  list-style: none;
  background-color: var(--secondary-color) f;
}
#gifts {
  position: relative;
  background-color: var(--secondary-color);
}
#gifts > div {
  visibility: hidden;
  position: absolute;
  bottom: -70px;
  left: -10px;
  width: 140px;
  height: 70px;
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.075);
}
#gifts:hover > div {
  visibility: visible;
  animation: top-entry 0.4s ease;
}
#gifts > div:hover {
  visibility: visible;
}
#gifts-submenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  list-style: none;
  background-color: var(--secondary-color);
}
/* MENU-DERECHA */
.menu-right-list {
  display: flex;
  flex: 1 1;
  list-style: none;
  gap: 12px;
}
.menu-right-list a {
  text-decoration: none;
}
#search-icon img {
  width: 20px;
}
#lang-icon {
  position: relative;
}
#lang-icon a,
label {
  display: flex;
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  gap: 5px;
  cursor: pointer;
}
#lang-icon img {
  width: 21px;
}
#lang-icon > div {
  visibility: hidden;
  position: absolute;
  bottom: -150px;
  right: -10px;
  width: 140px;
  height: 150px;
  border: 1px solid rgba(78, 85, 110, 0.158);
  z-index: 10;
}
#lang-check {
  display: none;
}
#lang-check:checked + div {
  visibility: visible;
}
#menu-lang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  list-style: none;
  background-color: var(--secondary-color);
  padding: 5px 0px;
}
.item-lang {
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  display: flex;
}
.item-lang > a {
  width: 100%;
}
.item-lang > a p {
  font-weight: 350;
  font-size: 14px;
  margin: auto 0px;
}
.item-lang > a img {
  width: 20px;
  height: 13px;
  margin: auto 0px;
}
#esp-item:hover {
  background-color: rgba(65, 90, 179, 0.212);
}
#eng-item:hover {
  background-color: rgba(65, 90, 179, 0.212);
}
#fr-item:hover {
  background-color: rgba(65, 90, 179, 0.212);
}
#it-item:hover {
  background-color: rgba(65, 90, 179, 0.212);
}
#ger-item:hover {
  background-color: rgba(65, 90, 179, 0.212);
}
#user-icon img {
  width: 24px;
}
#fav-icon > a {
  position: relative;
}
#fav-icon img {
  width: 20px;
}
#fav-icon span {
  width: 14px;
  height: 14px;
  background-color: var(--terciary-color);
  color: var(--secondary-color);
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: -5px;
}
#cart-icon > a {
  position: relative;
}
#cart-icon img {
  width: 24px;
}
#cart-icon span {
  width: 14px;
  height: 14px;
  background-color: #919191;
  color: var(--secondary-color);
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -5px;
}
/* MAIN */
main {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
/* BANNER */
.banner {
  width: 100vw;
  height: 70.5vh;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* FEATURED-SECTION */
.featured {
  display: flex;
  width: 100vw;
  flex: 1 1;
}
.featured-card {
  position: relative;
  width: calc(100% / 3);
  text-decoration: none;
}
.title-featured-card {
  display: flex;
  justify-content: space-between;
  height: 44px;
  background-color: var(--primary-color);
}
.name-shirt {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 500;
  width: 70%;
  margin: auto;
  margin-left: 10px;
}
.price-featured {
  font-family: 'Popins', helvetica;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
  background-color: var(--terciary-color);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-card > img {
  width: 100%;
  position: relative;
}
.featured-card-button {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  left: 32.5%;
  padding: 8px 6px;
  width: 35%;
  text-align: center;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-family: 'Poppins', helvetica;
  font-size: 16px;
  font-weight: 500;
  transition: transform 1s ease;
  z-index: 50;
}
.featured-card > img:hover {
  opacity: 0.4;
}
.featured-card > img:hover + .featured-card-button {
  visibility: visible;
  transform: translateY(-25vh);
}
.featured-card-button:hover {
  visibility: visible;
  transform: translateY(-25vh);
  background-color: var(--secondary-color);
}
.featured-card-button:hover + .featured-card > img {
  opacity: 0.4;
}
/* TRUSTPILOT */
.trust-pilot {
  display: flex;
  width: 100vw;
  justify-content: center;
}
.trust-pilot img {
  width: 40%;
}
/* NEW-DESIGNS-SECTION */
.new-designs {
  width: 100vw;
  height: auto;
  background-color: var(--secondary-color);
  padding: 40px 0px 50px;
}
.new-designs h2 {
  font-size: 48px;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 600;
  padding: 0px 20px 60px;
}
.new-designs > div {
  display: flex;
  overflow-x: scroll;
  padding: 0px 20px;
}
.new-designs > div > div {
  min-width: 300px;
  padding: 0px 5px;
}
.new-designs > div::-webkit-scrollbar {
  height: 18px;
}
.new-designs > div::-webkit-scrollbar-track {
  background-color: transparent;
}
.new-designs > div::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 5px solid var(--secondary-color);
  border-radius: 20px;
}
/* SLIDER */
.slider {
  width: 100vw;
  display: flex;
  align-items: center;
  height: 64px;
  background-color: var(--primary-color);
  gap: 100px;
}
.slider p {
  color: var(--secondary-color);
  font-family: 'Barlow Condensed', helvetica;
  font-size: 24px;
  font-weight: 500;
  width: 366px;
  white-space: nowrap;
  animation: scroll 6s linear infinite;
}
/* SERVICE-SECTION */
.services {
  width: 100vw;
  height: auto;
  background-color: #f3f2f2;
  padding: 0px 20px;
}
.services-list {
  display: flex;
  justify-content: space-around;
  padding: 46px 30px;
  list-style: none;
}
.services-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 5);
  margin: 0px 5px;
  padding: 0px 10px;
  gap: 20px;
}
.services-list li > img {
  width: 60px;
  height: 60px;
}
.services-list li > p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Poppins', helvetica;
  color: var(--primary-color);
}
/* NO-SHIRTS-SECTION */
.no-shirts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: auto;
  padding: 60px 80px;
  gap: 24px;
}
#pijamas {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
}
#pijamas img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#pijamas span {
  position: absolute;
  right: 7%;
  bottom: 5%;
  padding: 15px 30px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50px;
  font-size: 14px;
  font-family: 'Poppins', helvetica;
  font-weight: 700;
}
#calcetines {
  grid-column: 1/2;
  grid-row: 2/3;
  position: relative;
}
#calcetines img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#calcetines span {
  position: absolute;
  right: 7%;
  bottom: 5%;
  padding: 15px 30px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50px;
  font-size: 14px;
  font-family: 'Poppins', helvetica;
  font-weight: 700;
}
#sudaderas {
  grid-column: 2/3;
  grid-row: 1/3;
  position: relative;
}
#sudaderas img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#sudaderas span {
  position: absolute;
  right: 7%;
  bottom: 5%;
  padding: 15px 30px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50px;
  font-size: 14px;
  font-family: 'Poppins', helvetica;
  font-weight: 700;
}
/* BEST-GRAPHICS-SECTION */
.best-graphics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: auto;
  padding: 40px;
  gap: 20px;
  background-color: #f3f2f2;
}
#main-graphics {
  grid-row: 1/3;
  grid-column: 1/3;
  background-color: #000000;
  border-radius: 15px;
  position: relative;
}
#main-graphics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  opacity: 0.8;
}
#main-graphics-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 8%;
  color: var(--secondary-color);
  padding: 0px 50px;
}
#main-graphics-text > h2 {
  font-family: 'Barlow Condensed', helvetica;
  font-size: 50px;
  text-shadow: black 0.1em 0.1em 0.3em;
}
#main-graphics-text > p {
  font-family: 'Poppins', helvetica;
  font-size: 16px;
  text-shadow: black 0.1em 0.1em 0.3em;
}
#main-graphics-text > span {
  width: 150px;
  text-align: center;
  padding: 15px 30px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50px;
  font-size: 14px;
  font-family: 'Poppins', helvetica;
  font-weight: 700;
  margin-top: 20px;
}
.shirt-card {
  border-radius: 15px;
  position: relative;
}
.shirt-card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.shirt-card > p {
  font-size: 24px;
  font-family: 'Barlow Condensed', helvetica;
  color: var(--primary-color);
  padding: 0px 12px 12px;
  font-weight: 500;
  background-color: var(--secondary-color);
}
.price-card {
  padding: 0px 12px 12px;
  font-size: 16px;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  position: relative;
  background-color: var(--secondary-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.price-card del {
  color: #8f8f8f;
  font-weight: 400;
  padding-right: 5px;
}
.like-card {
  position: absolute;
  bottom: 20%;
  right: 5%;
  background-color: #f3f2f2;
  padding: 3px 7px;
  border-radius: 50%;
}
.like-card img {
  width: 15px;
  vertical-align: middle;
}
.add-button {
  background-color: var(--primary-color);
  position: absolute;
  bottom: 30%;
  left: 15%;
  width: 70%;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  opacity: 0;
}
.add-button p {
  color: var(--secondary-color);
  font-size: 13px;
  font-family: 'Poppins';
  font-weight: 500;
  padding: 10px 0px;
}
.shirt-card:hover > .add-button {
  opacity: 1;
  transition: opacity 0.5s ease;
}

#selection-one {
  grid-row: 1/2;
  grid-column: 3/4;
}
#selection-two {
  grid-row: 1/2;
  grid-column: 4/5;
}
#selection-three {
  grid-row: 2/3;
  grid-column: 3/4;
}
#selection-four {
  grid-row: 2/3;
  grid-column: 4/5;
}
/* CATEGORIES-SECTION */
.categories h2 {
  font-size: 48px;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 600;
  text-align: center;
  margin: 50px 0px;
}
.categories div {
  width: auto;
  height: auto;
  display: flex;
  overflow-x: scroll;
  padding: 0px 17px;
}
.categories div::-webkit-scrollbar {
  height: 18px;
}
.categories div::-webkit-scrollbar-track {
  background-color: transparent;
}
.categories div::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 5px solid var(--secondary-color);
  border-radius: 20px;
}
.categories article {
  min-width: 290px;
  height: 110px;
  background-color: #f92b89;
  border-radius: 10px;
  margin: 0px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-item {
  font-size: 38px;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 600;
  color: var(--secondary-color);
  text-decoration: none;
}
#category-shirt {
  background-image: url(https://statics.pampling.com/imagenes/banners_new/imagen_banner_34.jpg?1737653799);
  background-position: center;
}
#category-socks {
  background-image: url(https://statics.pampling.com/imagenes/banners_new/imagen_banner_35.jpg?1737653799);
  background-position: center;
}
#category-hoodie {
  background-image: url(https://statics.pampling.com/imagenes/banners_new/imagen_banner_36.jpg?1737653799);
  background-position: center;
}
#category-pijama {
  background-image: url(https://statics.pampling.com/imagenes/banners_new/imagen_banner_37.jpg?1737653799);
  background-position: center;
}
#category-kids {
  background-image: url(https://statics.pampling.com/imagenes/banners_new/imagen_banner_38.jpg?1737653799);
  background-position: center;
}
#category-hoodiekids {
  background-image: url(https://statics.pampling.com/imagenes/banners_new/imagen_banner_39.jpg?1737653799);
  background-position: center;
}
#category-boxers {
  background-image: url(https://statics.pampling.com/imagenes/banners_new/imagen_banner_41.jpg?1737653799);
  background-position: center;
}
#category-notebook {
  background-image: url(https://statics.pampling.com/imagenes/banners_new/imagen_banner_42.jpg?1737653799);
  background-position: center;
}
/* EXPLORER-SECTION */
.explorer-section h2 {
  font-size: 48px;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 600;
  text-align: center;
  margin: 50px 0px;
}
.explorer-shirts {
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
  padding: 0px 10px;
}
.explorer-shirts > div {
  width: calc(25% - 20px);
  margin: 10px;
  border: 1px solid #f3f2f2;
}
.explorer-section > a {
  display: flex;
  justify-content: center;
  width: 15%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: 500;
  padding: 15px 0px;
  border-radius: 50px;
  text-decoration: none;
  margin: 20px auto;
}
.explorer-section > a:hover {
  text-decoration: underline;
}
/* TRUSTPILOT-CAROUSEL */
.trust-pilot-carousel {
  width: 100vw;
  padding: 30px 20px;
}
.trust-pilot-carousel img {
  width: 100%;
}
/* SUBSCRIBE-SECTION */
.subscribe-section {
  width: 100vw;
  height: 80vh;
  background-color: #f3f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.subscribe-section > h2 {
  width: 50%;
  font-family: 'Barlow Condensed', helvetica;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}
#email {
  width: 38%;
  background-color: #e6e4e4;
  color: #9e9e9e;
  border-radius: 100px;
  border: none;
  margin-top: 10px;
  padding: 15px 30px;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 600;
  font-size: 16px;
}
#submit {
  width: 38%;
  background-color: var(--terciary-color);
  color: var(--secondary-color);
  border-radius: 100px;
  border: none;
  margin-top: 10px;
  padding: 15px 30px;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.subscribe-section > div {
  display: flex;
}
.subscribe-section > div input {
  cursor: pointer;
}
.subscribe-section > div label {
  color: #6d6d6d;
  font-size: 16px;
  font-family: 'Barlow Condensed', helvetica;
  font-weight: 600;
  margin-left: 5px;
}
.subscribe-section > div a {
  color: #0d6efd;
  text-decoration: none;
}
.subscribe-section > div a:hover {
  text-decoration: underline;
}
/* FOOTER */
footer {
  width: 100vw;
  height: 55vh;
  display: grid;
  grid-template-columns: 30% 35% 35%;
  grid-template-rows: 70% 30%;
  grid-template-areas: 'main-footer designer-footer community-footer' 'main-footer policies-footer policies-footer';
}
.main-footer {
  grid-area: main-footer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--primary-color);
}
.main-footer > h2 img {
  width: 200px;
}
.footer-list > li {
  padding: 0px 0px 13px;
  list-style: none;
}
.item-style {
  color: var(--secondary-color);
  font-size: 14px;
  font-family: 'Poppins', helvetica;
  text-decoration: none;
}
.main-footer-social img {
  width: 33px;
  height: 33px;
}
.designer-footer {
  grid-area: designer-footer;
  background-color: var(--primary-color);
  padding: 50px 40px 0px;
  text-align: center;
}
.footer-tittle {
  color: var(--secondary-color);
  font-size: 20px;
  font-family: 'Poppins', helvetica;
  font-weight: 500;
  padding-bottom: 20px;
}
.community-footer {
  grid-area: community-footer;
  background-color: var(--primary-color);
  padding: 50px 40px 0px;
  text-align: center;
}
.policies-footer {
  grid-area: policies-footer;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 20px;
}
.policies-footer p {
  color: #666;
  padding: 10px 30px;
  font-family: 'Poppins', helvetica;
  font-size: 12px;
  text-align: center;
}
.policies-footer > p a {
  color: #666;
  text-decoration: none;
}
/* RESPONSIVE */
@media screen and (max-width: 1150px) {
  .menu {
    display: none;
  }
  #lang-icon {
    display: none;
  }
  .menu-left {
    display: flex;
  }
  #burger-menu:checked + div {
    display: flex;
    animation: left-entry 1s ease;
  }
  h1 {
    margin: auto;
  }
  .featured {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .featured a {
    width: 500px;
  }
  .trust-pilot img {
    width: 60%;
  }
  #main-graphics-text > h2 {
    font-size: 35px;
  }
  .shirt-card p {
    font-size: 20px;
  }
  .add-button {
    bottom: 40%;
  }
  .add-button p {
    font-size: 12px;
  }
}
